ul {
    float:left;
    width: 100%;
    padding: 0; margin:0;
    list-style-type: none;
  }
  li 
  {
    display: inline;
  }
  a{
    float: left;
    padding: 3px 5px;
    margin: 0px 1px;
    text-decoration: none;
    color: white;
    background-color: #194d77;
  }
  a:hover {
    background-color: #cc6600;
  }
  a.active {
    color: red;
    font-size: large;
  
  }
  
  
  #draggable {
    text-align: center;
    background: white;
  }
  body{
    user-select: none;
  }
  .dropzone {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin: 10px;
    padding: 10px;
  }
  
  
  #mycanvas{border:1px solid red;}