body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.error {
  color: red;
  font-size: 12px;
}
button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}
.form-container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}
input {
  padding: 5px;
  margin: 5px 0;
}



ul { 
  float: left; 
  width: 100%; 
  padding: 0; margin: 0; 
  list-style-type: none; 
} 
li { 
  display: inline; 
} 
a { 
  float: left; 
  padding: 3px 5px; 
  margin: 0px 1px; 
  text-decoration: none; 
  color: white; 
  background-color: #1364a7;
} 
a:hover { 
  background-color: #cc6600; 
} 

a.active{ 
color: rgb(255, 0, 0);
font-size: large;
background-color: #0f4470;
}
footer{
  background-color: #ffffff;
  color: rgb(253, 167, 167);
  text-align: center;
}

#myInput {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 100%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
border-collapse: collapse; /* Collapse borders */
width: 100%; /* Full-width */
border: 1px solid #ddd; /* Add a grey border */
font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
text-align: left; /* Left-align text */
padding: 12px; /* Add padding */
}

#myTable tr {
/* Add a bottom border to all table rows */
border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
/* Add a grey background color to the table header and on hover */
background-color: #f1f1f1;
}