/* Globális változók */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* Betűtípus */
  line-height: 1.5;  /* Sorköz */
  font-weight: 400;  /* Betűvastagság */

}
/* H1 címek  stílusa */
h1 {
  font-size: 3.2em; /* Nagyon nagy betűméret */
  line-height: 1.1; /* Kisebb sorköz */
}

